$main_color: rgba(89, 50, 234, 1);
$main_bg: rgb(249, 251, 255);

$main_black: rgba(0, 0, 0, 1);
$second_black: rgba(41, 45, 50, 1);

$main_grey: rgb(181, 183, 192);
$second_grey: rgb(145, 151, 179);

$green_font: rgb(0, 135, 103);
$green_second-font: rgb(22, 192, 152);
$green_bg: rgba(22, 192, 152, 0.38);
$green_border: rgb(0, 176, 135);

$red_font: rgb(223, 4, 4);
$red_bg: rgb(255, 197, 197);

$paggination_bg: rgb(245, 245, 245);
$paggination_border: rgb(238, 238, 238);

$transition: all ease 0.3s;